<div class="flex justify-center items-center w-full">
  <span
    class="material-symbols-outlined text-primary-500 dark:text-primary-300 mr-1 !text-3xl"
    >experiment</span
  >
  <span class="text-primary-500 dark:text-primary-300 font-semibold text-2xl"
    >Pruebas</span
  >
</div>
<p-divider styleClass="mb-10" />

<div
  class="flex flex-col w-full p-5 rounded-lg border dark:border-gray-500 mb-10"
>
  <div class="flex items-center justify-start mb-4 ms-5">
    <span class="text-2xl font-bold text-primary-500 dark:text-primary-300">
      Modal Component
    </span>
  </div>
  <div class="w-full flex justify-center">
    <c-button
      severity="primary"
      variant="solid"
      label="Abrir Modal"
      class="mb-5"
      (onClick)="openModal()"
    />
  </div>
  <modal
    [visible]="showModal"
    [closable]="true"
    (onClose)="closeModal()"
    styleClass="w-[90%] sm:w-[80%] md:w-[80%] lg:w-[80%] xl:w-[30%] bg-auto"
    [style]="{ 'border-radius': '20px' }"
  >
    <header>
      <div class="w-full flex justify-center items-center">
        <h1 class="text-xl font-bold text-gray-800 dark:text-gray-200 ms-10">
          Título del Modal
        </h1>
      </div>
    </header>
    <content>
      <div class="flex w-full justify-center items-center">
        <span>Contenido del Modal</span>
      </div>
    </content>
    <footer>
      <div class="flex w-full justify-center items-center gap-x-2">
        <c-button
          severity="primary"
          variant="solid"
          label="Aceptar"
          (onClick)="closeModal()"
        />
        <c-button
          severity="danger"
          variant="solid"
          label="Cancelar"
          (onClick)="closeModal()"
        />
      </div>
    </footer>
  </modal>
</div>

<div
  class="flex flex-col w-full p-5 mb-10 rounded-md border dark:border-gray-500"
>
  <div class="flex items-center justify-start mb-4 ms-5">
    <span class="text-2xl font-bold text-primary-500 dark:text-primary-300">
      Button Component
    </span>
  </div>
  <div class="grid grid-cols-1 xl:grid-cols-2">
    <section
      class="flex-col mx-4 p-5 rounded-lg border dark:border-gray-500 mb-10"
    >
      <div class="mb-4">
        <span class="text-2xl font-bold text-gray-500 dark:text-gray-500">
          Solid
        </span>
      </div>
      <div class="flex justify-center flex-wrap gap-3 mb-4">
        @for(button of buttons; track button.label) {
        <c-button
          [severity]="button.severity"
          variant="solid"
          [label]="button.label"
          (onClick)="test()"
        />
        }
      </div>
    </section>

    <section
      class="flex-col mx-4 p-5 rounded-lg border dark:border-gray-500 mb-10"
    >
      <div class="mb-4">
        <span class="text-2xl font-bold text-gray-500 dark:text-gray-500"
          >Outlined</span
        >
      </div>
      <div class="flex justify-center flex-wrap gap-3 mb-4">
        @for(button of buttons; track button.label) {
        <c-button
          [severity]="button.severity"
          variant="outlined"
          [label]="button.label"
          (onClick)="test()"
        />
        }
      </div>
    </section>

    <section
      class="flex-col mx-4 p-5 rounded-lg border dark:border-gray-500 mb-10"
    >
      <div class="mb-4">
        <span class="text-2xl font-bold text-gray-500 dark:text-gray-500"
          >Link</span
        >
      </div>
      <div class="flex justify-center flex-wrap gap-3 mb-4">
        @for(button of buttons; track button.label) {
        <c-button
          [severity]="button.severity"
          variant="link"
          [label]="button.label"
          (onClick)="test()"
        />
        }
      </div>
    </section>

    <section
      class="flex-col mx-4 p-5 rounded-lg border dark:border-gray-500 mb-10"
    >
      <div class="mb-4">
        <span class="text-2xl font-bold text-gray-500 dark:text-gray-500"
          >Text</span
        >
      </div>
      <div class="flex justify-center flex-wrap gap-3 mb-4">
        @for(button of buttons; track button.label) {
        <c-button
          [severity]="button.severity"
          variant="text"
          [label]="button.label"
          (onClick)="test()"
          shadow="md"
        />
        }
      </div>
    </section>

    <section
      class="flex-col mx-4 p-5 rounded-lg border dark:border-gray-500 mb-10"
    >
      <div class="mb-4">
        <span class="text-2xl font-bold text-gray-500 dark:text-gray-500"
          >Solid with Icon (Left)</span
        >
      </div>
      <div class="flex justify-center flex-wrap gap-3 mb-4">
        @for(button of buttons; track button.label) {
        <c-button
          [severity]="button.severity"
          variant="solid"
          [label]="button.label"
          (onClick)="test()"
          [icon]="button.icon"
          iconPosition="left"
          rounded="md"
        />
        }
      </div>
    </section>

    <section
      class="flex-col mx-4 p-5 rounded-lg border dark:border-gray-500 mb-10"
    >
      <div class="mb-4">
        <span class="text-2xl font-bold text-gray-500 dark:text-gray-500"
          >Solid with Icon (Right)</span
        >
      </div>
      <div class="flex justify-center flex-wrap gap-3 mb-4">
        @for(button of buttons; track button.label) {
        <c-button
          [severity]="button.severity"
          variant="solid"
          [label]="button.label"
          (onClick)="test()"
          [icon]="button.icon"
          iconPosition="right"
          rounded="full"
        />
        }
      </div>
    </section>

    <section
      class="flex-col mx-4 p-5 rounded-lg border dark:border-gray-500 mb-10"
    >
      <div class="mb-4">
        <span class="text-2xl font-bold text-gray-500 dark:text-gray-500"
          >Outline Icon Only</span
        >
      </div>
      <div class="flex justify-center flex-wrap gap-3 mb-4">
        @for(button of buttons; track button.label) {
        <c-button
          [severity]="button.severity"
          variant="outlined"
          [label]="button.label"
          (onClick)="test()"
          [icon]="button.icon"
          [iconOnly]="true"
          rounded="full"
        />
        }
      </div>
    </section>

    <section
      class="flex-col mx-4 p-5 rounded-lg border dark:border-gray-500 mb-10"
    >
      <div class="mb-4">
        <span class="text-2xl font-bold text-gray-500 dark:text-gray-500"
          >Loading Buttons</span
        >
      </div>
      <div class="flex justify-center flex-wrap gap-3 mb-4">
        <c-button
          severity="primary"
          variant="solid"
          (onClick)="test()"
          [loading]="true"
          label="Loading"
        />

        <c-button
          severity="secondary"
          variant="outlined"
          (onClick)="test()"
          [loading]="true"
          label="Loading"
        />

        <c-button
          severity="success"
          variant="link"
          (onClick)="test()"
          [loading]="true"
          label="Loading"
        />

        <c-button
          severity="info"
          variant="text"
          (onClick)="test()"
          [loading]="true"
          label="Loading"
        />

        <c-button
          severity="warning"
          variant="solid"
          (onClick)="test()"
          [loading]="true"
          label="Loading"
          rounded="full"
        />
      </div>
    </section>

    <section
      class="flex-col mx-4 p-5 rounded-lg border dark:border-gray-500 mb-10"
    >
      <div class="mb-4">
        <span class="text-2xl font-bold text-gray-500 dark:text-gray-500"
          >Otros ejemplos...</span
        >
      </div>
      <div class="flex justify-center flex-wrap gap-3 mb-4">
        <c-button
          severity="primary"
          variant="solid"
          [iconOnly]="true"
          (onClick)="test()"
          icon="person"
          rounded="full"
        />

        <c-button
          severity="secondary"
          variant="outlined"
          label="Secondary"
          (onClick)="test()"
          rounded="full"
          icon="settings"
        />

        <c-button
          severity="success"
          variant="outlined"
          [iconOnly]="true"
          (onClick)="test()"
          icon="check"
          rounded="full"
        />

        <c-button
          severity="info"
          variant="solid"
          label="Link"
          (onClick)="test()"
          rounded="md"
        />

        <c-button
          severity="warning"
          variant="text"
          [iconOnly]="true"
          (onClick)="test()"
          rounded="full"
          icon="warning"
        />

        <c-button
          severity="danger"
          variant="solid"
          [iconOnly]="true"
          (onClick)="test()"
          rounded="full"
          icon="error"
        />
      </div>
    </section>
  </div>
</div>

<div
  class="flex flex-col w-full p-5 rounded-lg border dark:border-gray-500 mb-10"
>
  <div class="flex items-center justify-start mb-4 ms-5">
    <span class="text-2xl font-bold text-primary-500 dark:text-primary-300">
      Tabs Component
    </span>
  </div>
  <div class="grid grid-cols-1">
    <c-tabs
      [items]="tabsItems"
      [activeItem]="activeTabItem"
      (changeTab)="activeTabItem = $event"
    >
      <!-- Custom Label Slot -->
      <!-- <ng-template #customLabel let-data="data" let-index="index">
        <span class="text-lg font-bold"
          >{{ data.title }} ({{ index + 1 }})</span
        >
      </ng-template> -->

      <!-- Tab Content Slot -->
      <ng-template #tabContent let-data="data">
        <div class="p-5">
          <span class="text-xl font-bold text-pretty">Básico</span><br />
          <p class="text-gray-500 dark:text-gray-500 mb-10">
            {{ data.content }}
          </p>
        </div>
      </ng-template>
    </c-tabs>

    <c-tabs
      [items]="tabsItems2"
      [activeItem]="activeTabItem2"
      (changeTab)="activeTabItem2 = $event"
      tabsDesign="panel"
      backgroundColorTab="#54d6d0"
      rounded="md"
    >
      <!-- Custom Label Slot -->
      <!-- <ng-template #customLabel let-data="data" let-index="index">
        <span class="text-lg font-bold"
          >{{ data.title }} ({{ index + 1 }})</span
        >
      </ng-template> -->

      <!-- Tab Content Slot -->
      <ng-template #tabContent let-data="data" let-index="index">
        <div class="p-5 mb-16 border border-[#54d6d08f]">
          <span class="text-xl font-bold text-pretty text-[#54d6d0]"
            >Contenido personalizado</span
          ><br />
          <span class="text-2xl font-bold text-gray-500 dark:text-gray-500">{{
            data.label
          }}</span>
          <p class="text-gray-500 dark:text-gray-500">{{ data.content }}</p>
          <p (click)="test2(data)" class="text-red-500 dark:text-red-300">
            index: {{ index }}
          </p>
        </div>
      </ng-template>
    </c-tabs>

    <c-tabs
      [items]="tabsItems3"
      [activeItem]="activeTabItem3"
      (changeTab)="activeTabItem3 = $event"
      containerTabsClass="w-[100rem]"
      backgroundColorTab="#eb9e65"
      rounded="none"
    >
      <!-- Custom Label Slot -->
      <ng-template #customLabel let-data="data" let-index="index">
        <div class="">
          <span
            class="uppercase"
            [ngClass]="[
              index === activeTabItem3
                ? 'underline text-purple-500 font-bold transition-all ease-in-out duration-300'
                : 'text-yellow-500'
            ]"
          >
            {{ data.label }}
          </span>
        </div>
      </ng-template>

      <!-- Tab Content Slot -->
      <ng-template #tabContent let-data="data">
        <div class="p-5 mb-10">
          <span class="text-xl font-bold text-pretty text-[#eb9e65]"
            >Label personalizado</span
          ><br />
          <p class="text-gray-500 dark:text-gray-500">{{ data.content }}</p>
        </div>
      </ng-template>
    </c-tabs>

    <c-tabs
      [items]="tabsItems4"
      [activeItem]="activeTabItem4()"
      (changeTab)="changeTab4($event)"
      tabsDesign="panel"
      containerTabsClass="w-[100rem]"
      backgroundColorTab="#ee64b2"
      rounded="full"
    >
      <!-- Tab Content Slot -->
      <ng-template #tabContent>
        <div class="w-full text-left bg-auto overflow-hidden relative">
          <div
            class="transition-transform duration-500 ease-in-out whitespace-nowrap flex"
            [style]="{
              transform: 'translateX(-' + activeTabItem4() * 100 + '%)'
            }"
          >
            @for(tab of tabsItems4; let index = $index; track index) {
            <div class="w-full shrink-0 rounded-2xl p-5">
              <span class="text-xl font-bold text-pretty"
                >Contenido animado</span
              ><br />
              <p class="text-gray-500 dark:text-gray-500">{{ tab.content }}</p>
            </div>
            }
          </div>
        </div>
      </ng-template>
    </c-tabs>
  </div>
</div>

<div class="grid grid-cols-1 xl:grid-cols-2 w-full">
  <section class="flex flex-col p-5 rounded-lg border dark:border-gray-500 mb-10">
    <div class="flex justify-start flex-wrap gap-3 md:gap-0 mb-4">
      <div class="flex items-center justify-start mb-4 ms-5">
        <span class="text-2xl font-bold text-primary-500 dark:text-primary-300 text-left">
          SelectComponent
        </span>
      </div>
      <div class="flex flex-col w-full gap-5">
        <c-select
          id="cities"
          [(ngModel)]="selection1"
          [options]="cities"
          [filter]="false"
          [checkmark]="true"
          [loading]="true"
          floatLabelVariant="over"
          typeLabel="floatLabel"
          label="Seleccione una ciudad"
          optionLabel="name"
          optionValue="code"
          [disabled]="false"
          size="small"
        />

        <c-select
          id="cities2"
          [(ngModel)]="selection2"
          [options]="cities"
          [filter]="true"
          icon="map"
          iconColor="white"
          inputClass="bg-primary-200 bg-primary-400"
          labelClass="text-primary-700 font-bold dark:text-white"
          [checkmark]="true"
          [loading]="false"
          typeLabel="floatLabel"
          floatLabelVariant="in"
          label="Seleccione una ciudad"
          optionLabel="name"
          optionValue="code"
          [disabled]="false"
        />

        <c-select
          id="cities3"
          [(ngModel)]="selection3"
          [options]="countries"
          [filter]="true"
          [checkmark]="true"
          [loading]="false"
          typeLabel="floatLabel"
          label="Seleccione una ciudad"
          optionLabel="name"
          optionValue="code"
          [disabled]="false"
          panelClass="bg-primary-100 dark:bg-primary-950"
        >
          <ng-template #selectedItem let-selectedItem>
            <div class="flex items-center gap-2" *ngIf="selectedItem">
              <img
                  [src]="'https://flagsapi.com/' + selectedItem.code  + '/flat/64.png'"
                  [class]="'flag flag-' + selectedItem.code.toLowerCase()"
                  style="width: 18px"
              />
              <div>{{ selectedItem.name }}</div>
            </div>
          </ng-template>

          <ng-template #item let-item>
            <div class="flex items-center gap-2">
              <img
                  [src]="'https://flagsapi.com/' + item.code  + '/flat/64.png'"
                  [class]="'flag flag-' + item.code.toLowerCase()"
                  style="width: 18px"
              />
              <div>{{ item.name }}</div>
            </div>
          </ng-template>
        </c-select>
      </div>
    </div>
  </section>
  <section class="flex-col ml-5 p-5 rounded-lg border dark:border-gray-500 mb-10">
    <div class="flex items-center justify-start mb-6 ms-5">
      <span class="text-2xl font-bold text-primary-500 dark:text-primary-300">
        DatePickerComponent
      </span>
    </div>
    <div class="flex flex-col md:flex-row gap-5">
      <div class="flex flex-col w-full gap-5">
        <c-datepicker
          id="date1"
          [(ngModel)]="date1"
          [minDate]="minDate"
          [maxDate]="maxDate"
          label="Seleccione una fecha"
        ></c-datepicker>
        <!-- Note: IconTemplate does not work well, whe should wait for an update-->
        <c-datepicker
          id="date2"
          [(ngModel)]="date2"
          label="Seleccione una fecha"
          floatLabelVariant="in"
          [showTime]="true"
          hourFormat="12"
          icon="event_available"
          iconClass="text-primary-500 dark:text-primary-300"
         ></c-datepicker>
        <c-datepicker
          id="date3"
          [(ngModel)]="date3"
          label="Seleccione una fecha"
          floatLabelVariant="over"
          [showTime]="true"
          hourFormat="12"
          [showIcon]="false"
        >
        </c-datepicker>
      </div>
      <div class="flex flex-col w-full">
        <c-datepicker
          id="date4"
          [(ngModel)]="date4"
          typeLabel="label"
          icon="event_available"
          iconClass="text-primary-500 dark:text-primary-300"
          [inline]="true"
         ></c-datepicker>
      </div>
    </div>
  </section>
</div>

<div class="grid grid-cols-1 xl:grid-cols-2 w-full">
  <section class="flex flex-col p-5 rounded-lg border dark:border-gray-500 mb-10">
    <div class="flex justify-start flex-wrap gap-3 md:gap-0 mb-4">
      <div class="flex items-center justify-start mb-4 ms-5">
        <span class="text-2xl font-bold text-primary-500 dark:text-primary-300 text-left">
          TextareaComponent
        </span>
      </div>
      <div class="flex flex-col w-full gap-5">

        <c-textarea
          id="textarea"
          [(ngModel)]="textarea1"
          label="Textarea"
          [autoResize]="true"
        />

        <c-textarea
          id="textarea2"
          [(ngModel)]="textarea2"
          [rows]="2"
          label="Textarea"
          typeLabel="label"
          [autoResize]="true"
          [spellcheck]="true"
        />
        <c-textarea
          id="textarea3"
          [(ngModel)]="textarea3"
          label="Textarea"
          [autoResize]="true"
          [spellcheck]="true"
          [readonly]="true"
          typeLabel="floatLabel"
          floatLabelVariant="in"
        />
      </div>
    </div>
  </section>
  <section class="flex-col ml-5 p-5 rounded-lg border dark:border-gray-500 mb-10">
    <div class="flex items-center justify-start mb-6 ms-5">
      <span class="text-2xl font-bold text-primary-500 dark:text-primary-300">
        FileInputComponent
      </span>
    </div>
    <div class="flex flex-col md:flex-row gap-5">

    </div>
  </section>
</div>

<div
  class="flex flex-col w-full p-5 rounded-lg border dark:border-gray-500 mb-10"
>
  <div class="flex items-center justify-start mb-6 ms-5">
    <span class="text-2xl font-bold text-primary-500 dark:text-primary-300">
      Table Component
    </span>
  </div>
  <div class="w-full flex justify-center">
    <data-table
      [data]="users()"
      [columns]="columns"
      [isLoading]="isLoading()"
      [actionButtonsConfiguration]="actionButtons"
      [pagination]="pagination()"
      [paginationCustomDesign]="false"
      [showPagination]="true"
      [showPerPageOptionsDropdown]="true"
      [showPrevNextLinks]="true"
      [showFirstLastLinks]="true"
      headerAlign="start"
      actionsAlign="center"
      (onPageChange)="handlePagination($event)"
    >
      <!-- For custom templates you need to import daitaTableColumn directive in your component -->

      <!-- Custom template for a specific column -->
      <!-- Use this, just if its necessaty to show data in a specific style -->
      <ng-template dataTableColumn="email" let-rowData>
        <div class="flex items-center gap-2">
          <span class="material-symbols-outlined text-blue-500">mail</span>
          <a class="text-blue-500" href="mailto:{{ rowData.email }}">{{
            rowData.email
          }}</a>
        </div>
      </ng-template>

      <ng-template dataTableColumn="status" let-rowData>
        <p-tag
          [value]="rowData.status"
          rounded="full"
          styleClass="w-full gap-2 capitalize"
          [icon]="
            rowData.status === 'active' ? 'pi pi-check-circle' : 'pi pi-ban'
          "
          [severity]="rowData.status === 'active' ? 'success' : 'danger'"
        />
      </ng-template>

      <!-- Custom template for actions -->
      <!-- If we don't really need this we can use the default actions template -->
      <ng-template dataTableColumn="actions" let-rowData="rowData" let-actions="actions">
        <div class="flex justify-center items-center gap-2">
          @for(action of actions; let index = $index; track action.label) {
            <c-button
              [iconOnly]="true"
              [icon]="action.icon"
              variant="outlined"
              [class]="action.class"
              [severity]="action.severity"
              rounded="full"
              [label]="action.label"
              (onClick)="action.onClick(rowData)"
            />
          }
        </div>
      </ng-template>
    </data-table>
  </div>
</div>
