<div
  class="w-full flex min-h-screen overflow-y-auto items-center justify-center px-4 bg-black/50"
>
  <img
    class="lg:mr-36 lg:ml-20 xl:mr-40 hidden lg:flex w-[50%] lg:w-[40%]"
    src="assets/images/angular.png"
    alt="angular-logo"
    style="filter: brightness(200)"
  />
  <form
    [formGroup]="form"
    (submit)="submit()"
    (keydown)="handleFormSubmit($event)"
    class="flex w-full md:w-3/5 lg:w-3/6 xl:w-2/4 2xl:w-1/4 lg:mr-14"
  >
    <p-card
      styleClass="p-10 md:px-16 text-center shadow-lg bg-white/10 backdrop-blur-md rounded-2xl"
      class="w-full"
    >
      <ng-template #header>
        <div class="flex justify-center">
          <img
            class="w-20 mx-auto mt-4"
            alt=""
            src="assets/images/angular-icon.png"
            style="filter: brightness(200)"
          />
        </div>
      </ng-template>
      <ng-template #title>
        <span class="text-gray-50">Incio de sesión</span>
      </ng-template>
      <ng-template #content>
        <div class="mb-4 text-start">
          <p-iconfield>
            <p-inputicon class="pi pi-user" />
            <input
              pInputText
              formControlName="email"
              autocomplete="email"
              type="text"
              placeholder="Correo electrónico"
              class="w-full"
            />
          </p-iconfield>
          @if(getFormField('email').invalid && (getFormField('email').dirty || getFormField('email').touched)) {
            <input-errors
              [errors]="getFormField('email').errors"
              label="correo electrónico"
              errorMessageClass="!text-red-400"
            />
          }
        </div>
        <div class="text-start">
          <p-iconfield>
            <p-inputicon class="pi pi-key z-10" />
            <p-password
              formControlName="password"
              inputStyleClass="pl-10"
              placeholder="Contraseña"
              autocomplete="current-password"
              class="w-full"
              [feedback]="false"
              [toggleMask]="true"
              [fluid]="true"
            ></p-password>
          </p-iconfield>
          @if(getFormField('password').invalid && (getFormField('password').dirty || getFormField('password').touched)) {
            <input-errors
              [errors]="getFormField('password').errors"
              label="contraseña"
              errorMessageClass="!text-red-400"
            />
          }
        </div>
      </ng-template>
      <ng-template #footer>
        <p-button
          label="Submit"
          type="submit"
          styleClass="w-full mt-4 bg-purple-500 border-purple-500 text-white"
        />
        <!-- <ButtonComponent
          :label="t('login.submit')"
          @click="handleLogin()"
          :loading="loading"
          class="sm:w-52 mt-4 mx-auto block"
        />
        <div class="mt-5">
          <p
            class="text-sm text-center text-gray-50 font-light underline cursor-pointer"
          >
            <span
              @click="router.push({ name: 'recover-password', replace: false })"
              >{{ t("login.forgotPassword") }}</span
            >
          </p>
        </div> -->
      </ng-template>
    </p-card>
  </form>
</div>
