<header class="flex flex-wrap justify-between items-center my-16 gap-4">
  <div class="flex flex-col gap-2">
    <h1 class="text-primary-600 text-3xl font-bold">Bienvenido al Sistema de Encuestas <br><span>de la Universidad de El Salvador</span></h1>
    <p class="text-gray-500">Crea, enfoca y recopila información desde una plataforma</p>
  </div>
  <div class="flex flex-wrap gap-4">
    <c-button label="Encuestas" [severity]="'primary'" [variant]="'outlined'" [icon]="'content_copy'" routerLink="/dashboard"/>
    <c-button label="Nuevo formulario" [severity]="'primary'" [icon]="'add'" routerLink="/dashboard"/>
  </div>
</header>
<section class="flex flex-col gap-4">
  <article class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
    <c-info-card title="13322" description="Respuestas esta semana" icon="description" severity="primary"/>
    <c-info-card title="199" description="Nuevos usuarios registrados" icon="group" severity="secondary"/>
    <c-info-card title="15" description="Nuevas encuestas generadas" icon="list" severity="info"/>
  </article>
  <article class="flex flex-col lg:flex-row gap-4">
    <c-card titleCard="Encuestas con mayor actividad" chip="Semanal" icon="bar_chart" class="w-full lg:w-[70%]">
      <data-table
        [data]="encuestas()"
        [columns]="columns"
        [isLoading]="isLoading()"
        [actionButtonsConfiguration]="actionButtons"
        [pagination]="pagination()"
        [paginationCustomDesign]="false"
        [showPagination]="true"
        [showPerPageOptionsDropdown]="true"
        [showPrevNextLinks]="true"
        [showFirstLastLinks]="true"
        headerAlign="start"
        actionsAlign="start"
        (onPageChange)="handlePagination($event)"
      />
    </c-card>
    <c-card titleCard="Estado de encuestas" chip="Anual" icon="analytics" class="w-full lg:w-[30%]">
      <p-chart type="doughnut" [data]="data" [options]="options" class="flex justify-center w-full" />
    </c-card>
  </article>
</section>
