<p-drawer
  #drawerRef
  [(visible)]="visible"
  [closable]="false"
  position="left"
  styleClass="w-[300px]"
  (onHide)="setVisible(false)"
>
    <ng-template #headless class="flex flex-col h-[95vh] lg:h-screen bg-white dark:bg-zinc-700">
      <div class="w-full flex justify-end">
        <p-button
          icon="pi pi-times"
          styleClass="bg-transparent border-none text-zinc-700 dark:text-white mt-3 me-3"
          (click)="closeCallback($event)"
        />
      </div>
      <div class="flex items-center justify-between px-6 pt-4 shrink-0">
        <span class="inline-flex items-center gap-2">
          <span class="inline-flex items-center gap-2">
            <img
              class="w-full dark:brightness-75"
              alt="Logo"
              src="assets/images/angular.png"
            />
          </span>
        </span>
      </div>
      <div class="overflow-y-auto">
        <ul class="list-none p-4 m-0">
          <li>
            <ul class="list-none p-0 m-0 overflow-hidden">
              @for(route of menu; track route.path){
                <li>
                  @if(!route.children){
                    <a
                      pRipple
                      [routerLink]="[route.path]"
                      (click)="setVisible(false)"
                      routerLinkActive="bg-slate-200 dark:bg-neutral-800"
                      class="flex items-center cursor-pointer p-4 rounded text-surface-700 hover:bg-slate-200 dark:text-surface-0 dark:hover:bg-slate-800 duration-150 transition-colors"
                    >
                      <span class="material-symbols-outlined mr-1">{{
                        route.icon
                      }}</span>
                      <span class="font-medium">{{ route.name }}</span>
                    </a>

                  } @else {
                    <a
                      pRipple
                      [routerLink]="[route.path]"
                      routerLinkActive="bg-slate-200 dark:bg-neutral-800"
                      class="flex items-center cursor-pointer p-4 rounded text-surface-700 hover:bg-slate-200 dark:text-surface-0 dark:hover:bg-slate-800 duration-150 transition-colors p-ripple"
                    >
                      <span class="material-symbols-outlined mr-1">{{
                        route.icon
                      }}</span>
                      <span class="font-medium">{{ route.name }}</span>
                      <i class="pi pi-chevron-down ml-auto"></i>
                    </a>
                    <ul
                      class="list-none py-0 pl-4 pr-0 m-0 hidden overflow-y-hidden transition-all duration-[400ms] ease-in-out"
                    >
                      <li>
                        @for(subroute of route.children; track subroute.path){
                          <a
                            pRipple
                            class="flex items-center cursor-pointer p-4 rounded text-surface-700 hover:bg-slate-200 dark:text-surface-0 dark:hover:bg-slate-800 duration-150 transition-colors p-ripple"
                          >
                            <span class="material-symbols-outlined mr-1">{{
                              subroute.icon
                            }}</span>
                            <span class="font-medium">{{ subroute.name }}</span>
                          </a>
                        }
                      </li>
                    </ul>
                  }
                </li>
              }
            </ul>
          </li>
        </ul>
      </div>
      <div class="mt-auto mb-2">
        <hr
          class="mb-3 mx-4 border-t border-0 border-slate-300 dark:border-slate-200"
        />
        <a
          pRipple
          class="mx-3 my-1.5 flex items-center p-3 gap-2 rounded-md text-slate-700 dark:text-slate-200 hover:bg-slate-200 dark:hover:bg-neutral-800 duration-150 transition-colors cursor-pointer"
          (click)="router.navigate(['/perfil'])"
        >
          <p-avatar
            image="https://i.ibb.co/Yt6XZrc/DALL-E-2025-01-17-08-30-30-A-highly-realistic-portrait-of-a-young-woman-with-long-wavy-hair-in-a-ric.webp"
            shape="circle"
            size="normal"
            class="bg-slate-100 dark:bg-slate-700"
          />
          <span class="font-bold capitalize">{{ username }}</span>
        </a>
        <a
          pRipple
          class="mx-3 my-1.5 flex items-center cursor-pointer p-3 gap-2 rounded text-slate-700 hover:bg-slate-200 dark:text-slate-200 dark:hover:bg-neutral-800 duration-150 transition-colors"
          (click)="handleLogout()"
        >
          <p-avatar
            [icon]=" loading() ? 'pi pi-spin pi-spinner-dotted' : 'pi pi-sign-out'"
            shape="circle"
            size="normal"
            class="bg-slate-100 dark:bg-gray-600"
          />
          <span class="font-bold capitalize">Cerrar sesión</span>
        </a>
      </div>
    </ng-template>
</p-drawer>
<div
  class="mt-4 m-2 md:m-0 p-2 md:py-4 rounded-xl md:rounded-l-none bg-slate-200 dark:bg-zinc-700 fixed md:h-full left-0 top-0 z-10"
>
  <p-button
    icon="pi pi-bars"
    styleClass="bg-slate-200 dark:bg-transparent border-none z-50"
    severity="secondary"
    (click)="setVisible(true)"
  />
</div>
