<div class="datatable-custom-component shadow-md border dark:border-none"
     [ngClass]="'rounded-' + roundedTypeTable"
     [ngStyle]="getCustomStyles()">

  <p-table [value]="data"
           [loading]="loadingData"
           [stripedRows]="stripedRows"
           [scrollable]="scrollable"
           [scrollHeight]="scrollable ? scrollHeight : undefined"
           [styleClass]="tableClass"
           [tableStyle]="tableStyle">

    <!-- Empty Template -->
    <ng-template pTemplate="emptymessage" *ngIf="!loadingData">
      <div class="flex justify-center items-center h-[220px] text-gray-500">
        <span class="material-symbols-outlined !text-4xl me-1">
          problem
        </span>
        <p class="!text-lg">No hay registros para mostrar</p>
      </div>
    </ng-template>

    <!-- Loading Template -->
    <ng-template pTemplate="loadingbody" *ngIf="loadingData">
      <div class="flex justify-center items-center">
        <p-progressSpinner styleClass="w-[50px] h-[300px]"
                          strokeWidth="5"
                          fill="transparent"
                          animationDuration=".9s"
                          aria-label="Custom ProgressSpinner">
        </p-progressSpinner>
      </div>
    </ng-template>

    <!-- Header Template -->
    <ng-template pTemplate="header">
      <tr>
        <th *ngFor="let column of columns"
            [pSortableColumn]="column.sortable ? column.field : undefined"
            [ngStyle]="column.headerStyle"
            [ngClass]="getHeaderClass(column)">
          {{ column.header }}
          <p-sortIcon *ngIf="column.sortable" [field]="column.field"></p-sortIcon>
        </th>
        <th *ngIf="actionButtonsConfiguration.length > 0"
            [ngClass]="{'bg-slate-100': true, 'dark:bg-black': true, 'text-gray-600': true, 'dark:text-white': true}"
            [class]="'justify-' + headerAlign">
          Acciones
        </th>
      </tr>
    </ng-template>

    <!-- Body Template -->
    <ng-template pTemplate="body" let-rowData>
      <tr>
        <td *ngFor="let column of columns"
            [ngStyle]="column.bodyStyle"
            [ngClass]="getBodyClass(column)">

          <!-- Use custom template if available -->
          <ng-container *ngIf="columnTemplates[column.field]; else defaultCell">
            <ng-container *ngTemplateOutlet="columnTemplates[column.field]; context: { $implicit: rowData, data: rowData }"></ng-container>
          </ng-container>

          <!-- Default cell template -->
          <ng-template #defaultCell>
            {{ rowData[column.field] }}
          </ng-template>
        </td>

        <!-- Actions column -->
        <td *ngIf="actionButtonsConfiguration.length > 0"
            [ngClass]="'flex justify-' + actionsAlign + ' items-center gap-2'">

          <!-- Use custom actions template if available -->
          <ng-container *ngIf="actionsTemplate; else defaultActions">
            <ng-container *ngTemplateOutlet="actionsTemplate; context: { $implicit: rowData, data: rowData }"></ng-container>
          </ng-container>

          <!-- Default actions template -->
          <ng-template #defaultActions>
            <span *ngFor="let actionButton of actionButtonsConfiguration; let i = index"
                  class="material-symbols-outlined !text-xxl text-md text-white font-bold p-2 w-auto transition-all duration-300 ease-in-out flex justify-center items-center cursor-pointer"
                  [ngClass]="actionButton.class"
                  (click)="actionButton.onClick(rowData)">
              {{ actionButton.icon }}
            </span>
          </ng-template>
        </td>
      </tr>
    </ng-template>
  </p-table>

  <!-- Pagination -->
  <div *ngIf="showPagination" [ngClass]="{'pagination-custom-design': paginationCustomDesign}">
    <p-paginator
      styleClass="py-5 bg-transparent"
      [rows]="pagination.perPage"
      [first]="pagination.from - 1"
      [totalRecords]="pagination.total"
      [rowsPerPageOptions]="rowsPerPageOptions"
      (onPageChange)="handlePageChange($event)">
    </p-paginator>
  </div>
</div>
