<div
  class="flex flex-col w-full border-t datatable-custom-component dark:border-none"

  [ngStyle]="getCustomStyles()"
>
  <p-table
    [value]="data"
    [loading]="isLoading"
    [stripedRows]="stripedRows"
    [scrollable]="scrollable"
    [scrollHeight]="scrollable ? scrollHeight : undefined"
    [styleClass]="styleClass"
    [tableStyleClass]="tableClass"
    [tableStyle]="tableStyle"
    [showLoader]="false"
  >
    <!-- Empty Template -->
    <ng-template #emptymessage>
      <tr>
        <td [attr.colspan]="columns.length + 1">
          <div
            class="w-full flex justify-center flex-col gap-2 py-5 text-warning-400 min-h-[13rem] dark:text-warning-300"
          >
            <span
              class="material-symbols-outlined text-center"
              style="font-size: 40px"
            >
              error
            </span>
            <h1 class="font-bold text-primary-dark text-center">
              Sin datos para mostrar
            </h1>
          </div>
        </td>
      </tr>
    </ng-template>

    <!-- Loading Template -->
    <ng-template #loadingbody>
      <tr>
        <td [attr.colspan]="columns.length + 1">
          <div class="flex justify-center items-center">
            <p-progress-spinner
              styleClass="w-[70px] h-[300px]"
              strokeWidth="5"
              fill="transparent"
              animationDuration=".9s"
              aria-label="Custom ProgressSpinner"
            >
            </p-progress-spinner>
          </div>
        </td>
      </tr>
    </ng-template>

    <!-- Header Template -->
    <ng-template #header>
      <tr>
        @for(column of columns; let index = $index; track column.field){
          <th
            [pSortableColumn]="column.sortable ? column.field : undefined"
            [ngStyle]="column.headerStyle"
            [ngClass]="getHeaderClass(column, index)"
          >
            <div
              [class]="'flex items-center gap-2 cursor-pointer justify-' + this.headerAlign"
            >
              {{ column.header }}
              <p-sortIcon
                *ngIf="column.sortable"
                [field]="column.field"
              ></p-sortIcon>
            </div>
          </th>
        }
        @if(actionButtonsConfiguration.length > 0){
          <th
            [ngClass]="
              getHeaderClass(
                { header: 'Acciones', field: 'actions' },
                columns.length
              )
            "
          >
            <div
                class="flex items-center gap-2 cursor-pointer justify-{{ actionsAlign }}"
              >
              Acciones
            </div>
          </th>
        }
      </tr>
    </ng-template>

    <!-- Body Template -->
    <ng-template #body let-rowData>
      <tr>
        @for(column of columns; let index = $index; track column.field){
          <td
            [ngStyle]="column.bodyStyle"
            [ngClass]="getBodyClass(column)"
          >
            <!-- Use custom template if available -->
            @if(columnTemplates[column.field]){
              <ng-container>
                <ng-container
                  *ngTemplateOutlet="
                    columnTemplates[column.field];
                    context: { $implicit: rowData, data: rowData }
                  "
                ></ng-container>
              </ng-container>
            } @else {
              <!-- Default cell template -->
              <div [ngClass]="column.class">
                {{ rowData[column.field] }}
              </div>
            }
          </td>
        }

        <!-- Actions column -->
         @if(actionButtonsConfiguration.length > 0){
           <td>
              @if(columnTemplates['actions']){
                <!-- Use custom actions template if available -->
                <ng-container>
                  <ng-container
                    *ngTemplateOutlet="
                      columnTemplates['actions'];
                      context: { $implicit: rowData, rowData, actions: actionButtonsConfiguration }
                    "
                  ></ng-container>
                </ng-container>
              } @else {
                <div class="flex justify-{{ actionsAlign }} gap-2">
                  @for(actionButton of actionButtonsConfiguration; track actionButton){
                    <span
                      class="material-symbols-outlined p-1 w-auto transition-all duration-300 ease-in-out flex justify-center items-center cursor-pointer"
                      [ngClass]="actionButton.class"
                      [pTooltip]="actionButton.label"
                      tooltipPosition="top"
                      (click)="actionButton.onClick(rowData)"
                    >
                      {{ actionButton.icon }}
                    </span>
                  }
                </div>
              }
           </td>
         }
      </tr>
    </ng-template>
  </p-table>

  <!-- Pagination -->
  <div
    *ngIf="showPagination"
    [ngClass]="{ 'pagination-custom-design': paginationCustomDesign }"
  >
    <p-paginator
      styleClass="py-5 bg-transparent"
      [rows]="pagination.per_page"
      [first]="pagination.from - 1"
      [totalRecords]="pagination.totalItems"
      [rowsPerPageOptions]="rowsPerPageOptions"
      (onPageChange)="handlePageChange($event)"
    >
    </p-paginator>
  </div>
</div>
