@if(label){
  <label
    [for]="id"
    [ngClass]="{
      'text-red-500 dark:text-red-400 ': hasErrors,
      'text-surface-500': !hasErrors
    }"
    class="flex text-primary-700  font-bold mb-2 dark:text-primary-200 {{
      labelClass
    }}"
  >
    {{ label }}{{ required() ? " *" : "" }}
  </label>
}
@if(multiple) {
  <p-fileupload
    #fileUploadRef
    name="file"
    [multiple]="true"
    [accept]="allowedFileTypes.join(',')"
    [disabled]="disabled"
    [maxFileSize]="maxFileSize"
    (onSelect)="onSelectedFiles($event)"
    [styleClass]="'border-4 border-dashed rounded-lg dark:border-gray-700' + (hasErrors ? 'border-rose-400 bg-rose-300/10 ' : disabled ? ' ' : ' hover:border-primary-300 dark:hover:border-primary-900/80 transition-all duration-500 ease-in-out ') + inputClass"
    [style]="inputStyle"
    mode="advanced"
    (blur)="onTouched()"
    (click)="showAlert()"
  >
    <ng-template #header let-filesUploaded="files" let-chooseCallback="chooseCallback">
      <div class="flex flex-col gap-3 w-full">
        <div class="flex flex-col gap-1 justify-center sm:flex-row w-full sm:justify-between items-center">
          <div class="text-center">
            <span class="font-bold {{ disabled ? 'text-gray-400' : 'text-primary-500' }}">{{ title }}</span>
          </div>
          <div class="flex flex-col gap-2 sm:flex-row md:gap-2 items-center">
            <div class="flex justify-start items-center">
              <span class="material-symbols-outlined {{ disabled ? 'text-gray-400' : 'text-primary-500' }}" :style="{ 'font-size': '1.7rem' }">
                {{ iconFileSize }}
              </span>
              <span class="{{ disabled ? 'text-gray-400' : 'text-primary-500' }} font-bold">{{ formatSize(maxFileSize) }}</span>
            </div>
            <div class="flex justify-start items-center">
              <span class="material-symbols-outlined {{ disabled ? 'text-gray-400' : 'text-primary-500' }}" :style="{ 'font-size': '1.7rem' }">
                {{ iconFileNumber }}
              </span>
              <span class="{{ disabled ? 'text-gray-400' : 'text-primary-500' }} font-bold">{{ filesList.length + '/' + fileLimit }}</span>
            </div>
          </div>
        </div>
        <p-progressbar [value]="totalPercentage" [showValue]="false" class="w-full" styleClass="flex h-2 w-full"/>
      </div>
    </ng-template>

    <ng-template #file></ng-template>
    <ng-template #filelabel></ng-template>
    <ng-template #toolbar></ng-template>

    <ng-template #content
      let-files
      let-chooseCallback="chooseCallback"
      let-clearCallback="clearCallback"
      let-uploadCallback="uploadCallback"
      let-removeFileCallback="removeFileCallback"
    >
      @for(message of messages; track message.id) {
        <div
          class="flex justify-between w-full border border-danger-500 rounded-md bg-danger-50 items-center py-1 px-3 m-1 transition-all duration-500 ease-in-out opacity-100 animate-fade-in"
          [@fadeOut]="true"
        >
          <span class="font-semibold text-sm break-all sm:break-normal text-danger-500">{{ message.text }}</span>
          <span
            class="material-symbols-outlined text-danger-500 cursor-pointer hover:bg-danger-200 p-0.5 rounded-full"
            style="font-size: 0.9rem"
            (click)="deletedErrorById(message.id)"
          >
            close
          </span>
        </div>
      }

      @if(isArray(filesList) && filesList.length ){
        <div
        class="flex flex-col md:flex-row gap-2 md:gap-5 md:px-2 md:py-2"
        >
          @if(filesList.length < fileLimit && !disabled) {
            <div class="flex flex-col items-center justify-center border-2 border-dotted border-primary-500 bg-primary-50 dark:bg-primary-950/20 w-full md:w-[35%] md:py-0 rounded-lg h-[10rem] md:h-[13rem]">
              <div class="flex flex-col items-center justify-center cursor-pointer">
                <span class="text-center text-sm text-primary-500 font-semibold">Arrastrar y soltar archivos</span>
                <span class="text-center text-sm text-primary-500 font-semibold md:mb-2">ó</span>
              </div>
              <c-button
                label="Agregar"
                severity="primary"
                variant="solid"
                iconPosition="right"
                (onClick)="chooseCallback()"
                icon="add"
                class="text-[12px] h-[30px] mt-1"
              />
            </div>
          }
          <div class="flex flex-col w-full overflow-y-auto max-h-[13rem] scrollbar-rounded border-2 border-dotted border-primary-500 p-1 gap-1 rounded-lg">
            @for(file of filesList; track $index) {
              <div class="flex justify-start items-center h-20 gap-2 p-2 sm:p-4 border rounded-lg min-w-60">
                <div class="flex justify-center items-center">
                  @if(file.type.startsWith('image/')){
                    <div class="relative">
                      <img
                        class="saturate-200 dark:saturate-150 blur -z-1 absolute flex object-contain top-1/2 left-1/2 -translate-y-1/2 -translate-x-1/2 rounded-md"
                        [src]="getFilePreview(file)"
                      />
                      <p-image
                        [src]="getFilePreview(file)"
                        [preview]="imagePreview"
                        alt="Image"
                        styleClass="h-full mt-1.5"
                        imageClass="h-12 w-auto max-w-14 object-contain rounded-md sticky"
                      >
                        <ng-template #indicator>
                          <i class="pi pi-eye"></i>
                        </ng-template>
                      </p-image>
                    </div>
                  } @else {
                    <span class="material-symbols-outlined text-primary-500" style="font-size: 2.7rem">
                      {{ getIcon(file.type) }}
                    </span>
                  }
                </div>
                <div class="flex w-full justify-between ml-2 whitespace-nowrap overflow-hidden text-ellipsis">
                  <div class="text-gray-700 dark:text-gray-400 font-semibold whitespace-nowrap overflow-hidden text-ellipsis">
                    <h1 class="text-sm whitespace-nowrap overflow-hidden text-ellipsis">{{ file.name }}</h1>
                    <span class="bg-primary-100 text-primary-800 text-xs font-medium me-2 px-2 py-0.5 rounded-xl dark:bg-primary-900 dark:text-primary-300">{{ formatSize(file.size) }}</span>
                  </div>
                  <c-button
                    [disabled]="disabled"
                    severity="danger"
                    class="size-10"
                    variant="text"
                    (click)="onRemoveTemplatingFile($index, removeFileCallback)"
                    [iconOnly]="true"
                    icon="close"
                    rounded="full"
                  />
                </div>
              </div>
            }
          </div>
        </div>
      }

      @if(filesList.length == 0) {
        <div class="flex flex-col items-center gap-2">
          <div class="flex flex-col items-center justify-center gap-3">
            <div
              class="flex justify-center items-center border-[3px] rounded-full p-2 cursor-pointer {{ disabled ? 'border-gray-300' : 'border-primary-400 hover:bg-primary-500/20 transition-all duration-500 ease-in-out' }}"
              (click)="chooseCallback()"
            >
              <span class="material-symbols-outlined {{ disabled ? 'text-gray-400' : 'text-primary-500' }}" style="font-size: 2.1rem">
                {{ iconFileUpload }}
              </span>
            </div>
            <div class="flex flex-col justify-center items-center w-full">
              <h3 class="text-lg md:text-2xl font-semibold {{ disabled ? 'text-gray-400' : 'text-gray-700 dark:text-gray-300' }}">Arrastra y suelta</h3>
              <p class="text-sm md:text-base text-gray-400">
                o <span class="font-medium {{ disabled ? 'text-gray-500' : 'text-primary-500 hover:text-primary-700 transition-all duration-300 ease-in-out cursor-pointer' }}" (click)="chooseCallback()">selecciona</span> el archivo
              </p>
            </div>
            <span class="text-gray-400 w-full md:w-[70%] text-center text-sm">{{ emptyMessage }}</span>
          </div>
        </div>
      }
    </ng-template>

  </p-fileupload>
} @else {
  <div
    [class]="'flex w-full border-4 border-dashed dark:border-gray-700 rounded-lg ' + (hasErrors ? 'border-rose-400 bg-rose-300/10 ' : 'dark:border-gray-700 hover:border-primary-300 dark:hover:border-primary-900/80 transition-all duration-500 ease-in-out ') + inputClass"
  >
    <div class="flex min-h-full">
      <c-button
        variant="text"
        [iconOnly]="true"
        [class]="'rounded-l-lg rounded-r-none h-full ' + (hasErrors ? 'bg-rose-300/40 text-rose-400' : 'bg-[#f1f5f9] dark:bg-[#232327] text-gray-400')"
        [disabled]="disabled"
        [icon]="iconAddFile"
        (click)="fileInput.click()"
      />
    </div>
    @if(messages.length > 0) {
      <div class="flex w-full">
        @for(message of messages; track message.id) {
          <div
            class="flex justify-between w-full border border-danger-500 rounded-md bg-danger-50 items-center py-1 px-3 m-1 transition-all duration-500 ease-in-out opacity-100 animate-fade-in"
            [@fadeOut]="true"
          >
            <span class="font-semibold text-sm break-all sm:break-normal text-danger-500">{{ message.text }}</span>
            <span
              class="material-symbols-outlined text-danger-500 cursor-pointer hover:bg-danger-200 p-0.5 rounded-full"
              style="font-size: 0.9rem"
              (click)="deletedErrorById(message.id)"
            >
              close
            </span>
          </div>
        }
      </div>
    } @else {
      @if(singleFile) {
        <div class="flex flex-col items-center sm:flex-row w-full px-3 py-1.5">
          <div class="flex flex-col sm:flex-row justify-center items-center gap-2 w-full">
            <div class="flex flex-row justify-center items-center mr-2.5">
              @if(singleFile.type.startsWith('image/') && imagePreview) {
                <div class="relative">
                  <img
                    class="saturate-200 dark:saturate-150 blur -z-1 absolute flex object-contain top-1/2 left-1/2 -translate-y-1/2 -translate-x-1/2 rounded-md"
                    [src]="getFilePreview(singleFile)"
                  />
                  <p-image
                    [src]="getFilePreview(singleFile)"
                    [preview]="imagePreview"
                    alt="Image"
                    styleClass="h-full mt-1.5"
                    imageClass="h-12 w-auto max-w-14 object-contain rounded-md sticky"
                  >
                    <ng-template #indicator>
                      <i class="pi pi-eye"></i>
                    </ng-template>
                  </p-image>
                </div>
              }
              @else {
                <span
                  class="material-symbols-outlined text-primary-500 !text-4xl my-1"
                >
                  {{ getIcon(singleFile.type) }}
                </span>
              }
            </div>
            <div
              class="flex flex-col sm:flex-row  gap-x-6 items-center text-gray-500 dark:text-gray-400 font-semibold flex-1 max-w-full min-w-0"
            >
              <h1 class="truncate max-w-[10rem] md:max-w-[20rem]">{{ singleFile.name }}</h1>
              <span class="bg-primary-100 text-primary-800 text-xs font-medium me-2 px-2 py-0.5 rounded-xl dark:bg-primary-900 dark:text-primary-300">{{ formatSize(singleFile.size) }}</span>
            </div>
          </div>
          <div class="flex items-center justify-center">
            <c-button
              severity="danger"
              class="size-10"
              [disabled]="disabled"
              variant="text"
              (click)="removeSingleFile(fileInput)"
              [iconOnly]="true"
              icon="close"
              rounded="full"
            />
          </div>
        </div>
      } @else {
        <div class="flex w-full text-center">
          <span class="m-1.5 text-gray-400">{{ emptyMessage }}</span>
        </div>
      }
    }
  </div>
  <input
    #fileInput
    type="file"
    [accept]="allowedFileTypes.join(',')"
    [multiple]="multiple"
    (change)="handleFileSelection($event)"
    class="hidden"
    (blur)="onTouched()"
  />
}

@if(hasErrors) {
  <input-errors
    [errors]="formControl.errors"
    [label]="label ? label.toLocaleLowerCase() : 'archivo'"
    [errorMessageClass]="errorMessageClass"
  />
}
