<p-menubar styleClass="m-0 py-2 px-0 bg-transparent border-none">
  <ng-template #end>
    <div class="flex items-center gap-x-4">
      <!-- Usuario -->
      <div
        class="flex flex-col items-center relative h-auto group select-none"
      >
        <div
          class="w-full h-full rounded-full flex flex-col items-center"
        >
          <span class="text-[0.9rem] text-black/50 font-bold dark:text-white/50">
            {{ name }}
          </span>
          <span class="text-[0.5rem] text-black/50 font-bold dark:text-white/50">
            {{ role }}
          </span>
        </div>
      </div>

      <!-- Avatar -->
      <div
        class="flex flex-col items-center relative cursor-pointer h-auto group select-none"
        (click)="router.navigate(['/'])"
      >
        <p-avatar
          icon="pi pi-user"
          size="large"
          shape="circle"
          class="border-[3px] group-hover:border-none dark:border-primary-400 border-primary-500 p-[2px] group-hover:p-0 w-[3rem] h-[3rem] transition-all ease-linear"
        />
      </div>

      <!-- Cambio de tema -->
      <p-button
        [icon]="sessionValue.darkMode ? 'pi pi-moon' : 'pi pi-sun'"
        variant="text"
        size="large"
        rounded
        aria-label="Theme"
        (onClick)="toggleDarkMode()"
        tooltipPosition="bottom"
        [pTooltip]="'Tema ' + (sessionValue.darkMode ? 'Oscuro' : 'Claro')"
      />
    </div>
  </ng-template>
</p-menubar>
