<header class="flex justify-center">
  <div class="text-3xl font-medium text-primary-800 dark:text-gray-200">
    Usuarios
  </div>
</header>
<body>
  <div class="flex flex-col md:flex-row w-full gap-3 items-center my-4 md:my-8 justify-between lg:mt-14">
    <div
      class="flex flex-col md:flex-row w-full lg:w-4/6 items-center lg:items-end gap-3 md:gap-5"
    >
      <div
        class="flex flex-col md:flex-row gap-3 w-full lg:w-8/12"
      >
        <c-float-input
          id="filterEmail"
          icon="search"
          iconPosition="left"
          [(ngModel)]="email"
          type="text"
          typeLabel="floatLabel"
          floatLabelVariant="on"
          label="Buscar por email"
          containerClass="w-full"
        />
        <c-float-input
          id="filterName"
          icon="person"
          iconPosition="left"
          [(ngModel)]="name"
          type="text"
          typeLabel="floatLabel"
          floatLabelVariant="on"
          label="Buscar por nombre"
          containerClass="w-full"
        />
      </div>
      <div class="flex flex-col sm:flex-row gap-3 w-full lg:w-auto">
        <c-button
          label="Buscar"
          severity="primary"
          (onClick)="setFilters()"
          class="w-full md:w-auto"
        />
        <c-button
          label="Limpiar"
          severity="primary"
          variant="outlined"
          (onClick)="clearFilters()"
          class="w-full md:w-auto"
        />
      </div>
    </div>
    <div class="flex justify-end w-full md:w-auto gap-3">
      <c-button
        label="Agregar"
        icon="add"
        iconPosition="left"
        severity="primary"
        class="w-full md:w-auto"
        (onClick)="openCreateUserModal()"
      />
    </div>
  </div>
  <data-table
    [data]="users()"
    [columns]="columns"
    [isLoading]="isLoading()"
    [actionButtonsConfiguration]="actionButtons"
    [pagination]="pagination()"
    [paginationCustomDesign]="false"
    [showPagination]="true"
    [showPerPageOptionsDropdown]="true"
    [showPrevNextLinks]="true"
    [showFirstLastLinks]="true"
    headerAlign="start"
    actionsAlign="start"
    (onPageChange)="handlePagination($event)"
  ></data-table>

  <create-user
    [visible]="showModalCreateUser()"
    [isLoading]="isLoading"
    (closeModal)="closeCreateUserModal($event)"
  ></create-user>
</body>
