<div class="flex flex-col min-h-screen justify-center">
  <header class="flex justify-between backdrop-blur-xl bg-white/30 dark:bg-black/5 w-full px-6 py-1 sticky top-0 z-20">
    <drawer />
    <navbar />
  </header>
  <main class="flex-1 pt-1 px-12 md:px-12 pb-6 w-full overflow-x-hidden background">
    <router-outlet />
  </main>
  <footer class="flex flex-wrap justify-between items-center background w-full px-12 py-1 h-44">
    <section class="flex flex-wrap items-center gap-x-10 gap-y-4">
      <div class="flex items-center gap-2">
        <img class="h-12" src="assets/images/minerva.png" alt="">
        <span class="text-primary-800 font-bold text-2xl">UES-Forms</span>
      </div>
      <span class="text-gray-500">© 2025 UESForms. Todos los derechos reservados</span>
    </section>
    <section>
      <ul class="flex gap-4">
        <li class="text-gray-500 font-bold">UES</li>
        <li class="text-gray-500 font-bold">FIA</li>
        <li class="text-gray-500 font-bold">EISI</li>
      </ul>
    </section>
  </footer>
</div>
